@font-face {
    font-family: VT323-Regular ;
    src: url("../Fonts/VT323-Regular.ttf");
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #000;
}

.Menu{
    background-color: rgba(28,28,28);
    padding: 2%;
}

.itens_Menu{
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3em;
}

.itens_Menu a:visited, .itens_Menu a:link{
    color: #00FA9A	;
    text-decoration: none;
    font-weight: bolder;
}

.itens_Menu a:hover{
    background-color: rgb(169,169,169, 0.7);
    padding: 0,9%;
}

.itens_Menu a:active{
    color: aqua;
}

#MI a:visited, #MI a:link{
    color: #00FF7F;
}

#MI a:hover{
    color: #696969	;
}


h1{
    color: 	#808080;
    font-size: 3em;
    text-align: center;
font-family: "VT323-Regular", cursive;
}

p{
    color: 	#00FF7F;
    font-size: 2em;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

h2{
    color: beige;
    font-size: 1.5em;
}

figure{
    text-align: center;
}

.container{
    width: 70%;
    margin: auto;
}

.img_principal{
    width: 70%;
}

.img_topo{
    width: 80% ;
}

.img_corpo{
    width: 55% ;
}

.img_coluna{
    width: 45% ;
}

.img_cabeca{
    width: 45%;
}

.img_pe{
    width: 52%;
}

footer{
    background-color: rgba(28,28,28);
    padding: 2%;
    margin-top: 2%;
}

.botao{
    background-color: rgb(169,169,169, 0.7);
    width: 8em;
    height: 2cm;
    margin: auto ;
    text-align: center;
}

.botao:hover {
    background-color: #556B2F;
}

.botao a:link, .botao a:visited{
    color: #808000	 ;
}

.botao p{
    text-align: center;
}