body{
    background-image: url('https://img.besthqwallpapers.com/Uploads/3-1-2018/35995/4k-toyota-supra-sunset-supercars-tuning.jpg');
    background-size: 100%;
}

p{
    color: 	#FFFF00;
    font-size: 2em;
    text-align: center;
}

h1,h2{
    color: #00FF00;
    text-align: center;
}

figure{
    text-align: center;
}
div{
    border: 50%;
}
div2{
    border: 100%;
}