p{
    color: 	#00FF7F;
    font-size: 2em;
    text-align: center;
}

h1{
    color: 	#097709;
    font-size: 3em;
    text-align: center;
}
figure{
    text-align: center;
}
.img_principal{
    width: 70%;
}
.img_topo{
    width: 80% ;
}
.img_corpo{
    width: 55% ;
}
.img_coluna{
    width: 45% ;
}
.img_cabeca{
    width: 45%;
}
.img_pe{
    width: 52%;
}
.menu{
    background-color: rgba(9, 7, 6, 9;
    padding: 2%;
}
.itens_menu{
    padding-top: 1%;
    line-height: 1.5;
    text-align: center;
    font-size: 1.3em;
}